:root {
  --main: #171821;
  --icons: #84b8b1;
  --icon-secondary: #65ada6;
  --hover: #333956;
  --hover-wrapper: #1e2a34;
  --gradient: #252946;
  --wrappers: #23232e;
  --content-text: #f3f3f3;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main);
  color: #84b8b1;
  margin: 0;
  display: flex;
}

/*-------------Side Bar--------------*/
.side__nav,
.side__nav--list,
.side__nav--item {
  display: flex;
  flex-direction: column;
}

.side__nav {
  position: fixed;
  height: 100vh;
  width: 20vw;
  overflow: hidden;
  z-index: 100;
}

.side__nav--list {
  height: 70%;
  width: 70%;
  margin: auto auto;
  padding: 0;
  list-style-type: none;
  justify-content: space-around;
}

.side__nav--item {
  width: 55%;
  margin-left: 0;
  margin: auto auto;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 4.5em;
  z-index: 100;
}

.side__nav--item:hover {
  background-color: var(--hover);
  cursor: pointer;
}

.active {
  background-color: var(--hover);
}

.side__nav--item a {
  color: inherit;
  text-decoration: none;
  position: relative;
  pointer-events: none;
}

.side__nav--item a > svg,
.side__nav--item > span,
.side__nav--item a {
  pointer-events: none;
}

/*---------Dashboard---------------*/

.section__heading {
  margin-bottom: 0;
}

.module__dashboard,
.module__users,
.module__products {
  position: absolute;
  left: 20vw;
  width: 80vh;
  padding-left: 1rem;
  color: var(--content-text);
}

.module__heading {
  font-weight: 200;
  text-align: justify;
  padding-left: 1rem;
}

.section__data {
  display: flex;
  justify-content: space-between;
}

.info__container {
  padding-top: 0;
  margin-top: 0;
}

.tables__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__products--orders {
  width: 50vw;
  display: flex;
  justify-content: space-around;
}

/*-------New Users-----------*/
.users__wrapper,
.products__wrapper,
.orders__wrapper,
.module__users--wrapper,
.module__products--wrapper {
  height: 35vh;
  width: 40vw;
  border-radius: 10px;
  background-color: var(--wrappers);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

.user__headings--list,
.user__info--list,
.products__headings--list,
.product__info--list,
.orders__headings--list,
.order__info--list {
  font-size: 0.7rem;
  text-align: center;
  padding-left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr 1.8fr 1fr;
}

.user__headings--list,
.products__headings--list,
.orders__headings--list {
  color: var(--icons);
  text-transform: uppercase;
  padding: 0.8rem 0.5rem 1rem 0.5rem;
  font-weight: 900;
}

.user__info--list,
.product__info--list,
.order__info--list {
  align-items: center;
  margin: 0;
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;
  height: 4vh;
}

.user__info--list:hover,
.product__info--list:hover,
.order__info--list:hover {
  background-color: var(--hover-wrapper);
}

.user__headings,
.products__headings,
.orders__headings {
  position: sticky;
  top: 0;
  background-color: var(--hover);
}

/*------New Products------------*/

.products__wrapper {
  width: 22vw;
}

.products__headings--list,
.orders__headings--list {
  padding: 0.8rem 0.5rem 0.4rem 0.5rem;
}

.products__headings--list,
.product__info--list {
  padding-right: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

/*----------New Orders-----------*/
.orders__wrapper {
  width: 22vw;
}

.orders__headings--list,
.order__info--list {
  grid-template-columns: 1fr 1fr 2fr;
}

/*------------Charts--------------*/
.charts__data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.top__sales--container {
  height: 17rem;
  width: 20rem;
}

.monthly__data--container {
  height: 17rem;
  width: 20rem;
}

/*-----------Users & Products Modules-----------------*/
.module__users--container,
.module__products--container {
  width: 75vw;
}

.module__users--wrapper,
.module__products--wrapper {
  height: 78vh;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}
.users__heading--items,
.user__list--content,
.products__heading--items,
.product__list--content {
  font-size: 1rem;
  text-align: center;
  padding-left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.3fr 1.8fr 1.2fr;
}

.users__heading--items,
.products__heading--items {
  color: var(--icons);
  text-transform: uppercase;
  font-weight: 900;
}

.user__list--content,
.product__list--content {
  font-size: 0.8rem;
  align-items: center;
  margin: 0;
  padding: 0.5rem 0.5rem 0.8rem 0.5rem;
  height: 3.5vh;
}

.user__list--content:hover,
.product__list--content:hover {
  background-color: var(--hover-wrapper);
}

.products__heading--items,
.product__list--content {
  grid-template-columns: 0.5fr 1fr 1fr 1.5fr;
}

.hidden {
  visibility: hidden;
}

/*---------Pagination Buttons--------------*/
.pagination__users {
  margin-top: auto;
  padding: 1rem 8rem;
}

.pagination__products {
  margin-top: auto;
  padding: 1rem 7rem;
}
.pagination__users::after,
.pagination__products::after {
  content: "";
  display: table;
  clear: both;
}

.pagination__btn--prev {
  float: left;
}

.pagination__btn--next {
  float: right;
}

.btn--inline {
  color: var(--gradient);
  font-size: 1rem;
  font-weight: 300;
  border: none;
  background-color: var(--icons);
  padding: 0.5rem 0.5rem;
  border-radius: 10rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn--inline svg {
  height: 1.6rem;
  width: 1.6rem;
  fill: currentColor;
  margin: 0 0.2rem;
}

.btn--inline span {
  margin: 0 0.4rem;
}

.btn--inline:hover {
  color: var(--hover);
  background-color: var(--icon-secondary);
}

.btn--inline:focus {
  outline: none;
}

/*------------Media Queries------------- */
@media (max-width: 1107px) {
  .module__dashboard {
    left: 30vw;
  }

  .section__data {
    flex-direction: column;
    justify-content: space-around;
  }

  .users__wrapper {
    width: 55vw;
  }
}

@media (max-width: 1040px) {
  .side__nav {
    width: 15vw;
  }

  .side__nav--item {
    width: 70%;
    flex-direction: column-reverse;
  }
  .side__nav--item span {
    visibility: hidden;
  }

  .module__dashboard {
    left: 20vw;
  }

  .users__wrapper {
    height: 35vh;
    width: 52vw;
  }
  .products__wrapper {
    width: 26vw;
  }

  .user__info--list,
  .user__headings--list,
  .order__info--list,
  .orders__headings--list,
  .products__headings--list,
  .product__info--list {
    font-size: 0.6rem;
  }

  .products__headings--list,
  .product__info--list {
    grid-template-columns: 0.8fr 0.8fr 1.2fr 1.2fr;
  }

  .products__headings--list:last-child,
  .product__info--list:last-child {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .charts__data {
    margin: 1rem auto 1rem auto;
  }
}

@media (max-width: 830px) {
  .pagination__users,
  .pagination__products {
    margin-top: auto;
    padding: 1rem 4rem;
  }
}

@media (max-width: 765px) {
  .users__heading--items,
  .user__list--content,
  .products__heading--items,
  .product__list--content {
    font-size: 0.8rem;
  }
}

@media (max-width: 680px) {
  .side__nav,
  .side__nav--list,
  .side__nav--item {
    background-color: var(--main);
  }
  .module__dashboard {
    left: 15vw;
    overflow-x: hidden;
  }

  .users__wrapper {
    width: 60vw;
  }

  .container__products--orders {
    flex-direction: column;
  }
  .products__wrapper {
    width: 50vw;
  }

  .orders__wrapper {
    width: 50vw;
  }

  .user__info--list,
  .user__headings--list,
  .order__info--list,
  .orders__headings--list,
  .products__headings--list,
  .product__info--list {
    font-size: 0.45rem;
  }

  .charts__data {
    margin: 1rem auto 1rem auto;
  }

  .users__heading--items,
  .user__list--content,
  .products__heading--items,
  .product__list--content {
    font-size: 0.6rem;
  }
  .user__list--content,
  .product__list--content {
    font-size: 0.45rem;
  }
}
